/*=====페이스북 디자인=====*/
/* 페이스북 틀 영역 */
ul,li{
    list-style-type: none;
}
/* 오른쪽 사이드 영역 */
@media (max-width:767px) {
    .aside-facebook {
        display: none;
    }
}


/* 왼쪽 사이드 영역 */
.aside-facebook img{
    width: 50px;
    height: 50px;
}
/* 중앙 게시글 영역 */
.section-facebook {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
     
}
.section-facebook > .fileDiv{
    display: none;
}
/* 상단 영역 */
.rep-content >.rep-group{
    overflow: hidden;
}
.rep-content >.rep-group >  .btn-left{
    float: left;
}
.rep-content >.rep-group >  .btn-right{
    float: right;
}
.rep-content > .form-control{
    margin-bottom: 10px;

}

.profile-inner{
    position: relative;
    margin-top: 10px;
}
.profile-inner> .profile{
    position:absolute;
    left: 0;
    top: 0;
}
.profile-inner > .profile-name {
    padding-left: 50px;
}
.profile-inner > p{
    margin-bottom: 0;
}

.content-inner > p{
    padding: 10px 0;
    margin: 0;
}

.image-inner > img{
    width: 100%;
    
}

.like-inner > a > span{
    vertical-align: middle;
    
}
.like-inner > a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
}
.like-inner{
    border-top: 1px solid #d2d2d2;
    margin-top:5px;
}
.button-inner{
    border-top: 1px solid #d2d2d2;
    margin-top:5px;
    overflow: hidden;
}
.button-inner > a {
    float: left;
    width: 25%;
    text-align: center;
    color: #333;
    padding: 10px 0;
}

.button-inner i{
    margin-right: 3px;
}

